In [1]:
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

In [2]:
def refine_df(df):
    col = ["ind","dom","stay","stay_tour","stay_home","stay_work","day","day_tour","day_home","day_work","abr","abr_tour","abr_home","abr_work"]
    ind = ["Hokakido","Touhoku","Kanto","Hokuriku","Tyuubu","Kinki","Tyuugoku","Shikoku","Kyusyu","Okinawa","Asia","Europ","N_America","S_America","Africa","Oceania"]
    df.drop([0,1,2,3,4],inplace=True)
    df.columns = col
    df = df.head(16)
    df.drop(["dom","stay","day","abr"],axis=1,inplace=True)

    df.loc[15,"stay_tour"] = df.loc[15,"abr_tour"]
    df.loc[15,"stay_home"] = df.loc[15,"abr_home"]
    df.loc[15,"stay_work"] = df.loc[15,"abr_work"]

    df.loc[16,"stay_tour"] = df.loc[16,"abr_tour"]
    df.loc[16,"stay_home"] = df.loc[16,"abr_home"]
    df.loc[16,"stay_work"] = df.loc[16,"abr_work"]

    df.loc[17,"stay_tour"] = df.loc[17,"abr_tour"]
    df.loc[17,"stay_home"] = df.loc[17,"abr_home"]
    df.loc[17,"stay_work"] = df.loc[17,"abr_work"]

    df.loc[18,"stay_tour"] = df.loc[18,"abr_tour"]
    df.loc[18,"stay_home"] = df.loc[18,"abr_home"]
    df.loc[18,"stay_work"] = df.loc[18,"abr_work"]

    df.loc[19,"stay_tour"] = df.loc[19,"abr_tour"]
    df.loc[19,"stay_home"] = df.loc[19,"abr_home"]
    df.loc[19,"stay_work"] = df.loc[19,"abr_work"]

    df.loc[20,"stay_tour"] = df.loc[20,"abr_tour"]
    df.loc[20,"stay_home"] = df.loc[20,"abr_home"]
    df.loc[20,"stay_work"] = df.loc[20,"abr_work"]
    
    df.drop(["abr_tour","abr_home","abr_work","ind"],axis=1,inplace=True)
    df.replace({"-" : 0, "â€¦" : 0},inplace=True)
    df.index = ind
    
    return df

In [3]:
df_201810 = refine_df(pd.read_excel('201810.xlsx',sheet_name=3)).T
df_201807 = refine_df(pd.read_excel('201807.xlsx',sheet_name=3)).T
df_201804 = refine_df(pd.read_excel('201804.xlsx',sheet_name=3)).T
df_201801 = refine_df(pd.read_excel('201801.xlsx',sheet_name=3)).T
df_201710 = refine_df(pd.read_excel('201710.xls',sheet_name=3)).T
df_201707 = refine_df(pd.read_excel('201707.xls',sheet_name=3)).T
df_201704 = refine_df(pd.read_excel('201704.xls',sheet_name=3)).T
df_201701 = refine_df(pd.read_excel('201701.xls',sheet_name=3)).T

In [4]:
df_201810

,Hokakido,Touhoku,Kanto,Hokuriku,Tyuubu,Kinki,Tyuugoku,Shikoku,Kyusyu,Okinawa,Asia,Europ,N_America,S_America,Africa,Oceania
stay_tour,1714.172,2837.495,9893.941,4516.078,4696.647,5532.736,1927.364,806.145,2937.590,1340.795,1696.653,573.782,472.301,0.0,14.443,188.650
stay_home,768.723,1742.053,3413.347,1232.461,1699.309,1871.759,852.866,755.348,1700.627,220.233,106.265,0.000,87.426,0.0,0.000,8.313
stay_work,587.331,783.721,3278.754,628.525,1658.727,2016.041,557.851,230.097,1264.430,218.098,690.921,232.052,129.793,0.0,0.000,0.000
day_tour,961.258,2488.679,16188.484,2992.208,4976.802,7263.831,2802.860,952.926,2756.144,244.552,0.000,0.000,0.000,0.0,0.000,0.000
day_home,314.703,767.992,2665.669,551.827,1050.397,1709.329,686.385,166.031,761.976,7.904,0.000,0.000,0.000,0.0,0.000,0.000
day_work,358.509,725.239,3611.690,636.989,1233.133,1627.656,947.348,199.301,618.987,8.561,0.000,0.000,0.000,0.0,0.000,0.000

In [5]:
df_201807

,Hokakido,Touhoku,Kanto,Hokuriku,Tyuubu,Kinki,Tyuugoku,Shikoku,Kyusyu,Okinawa,Asia,Europ,N_America,S_America,Africa,Oceania
stay_tour,3025.337,3798.449,14639.905,6222.936,6972.292,7386.638,2200.846,1138.843,4462.213,1618.033,1619.385,513.391,462.294,0.0,20.263,411.395
stay_home,1662.039,3093.617,4856.103,2137.714,3129.273,3471.199,2295.958,1406.515,2883.223,438.095,33.162,11.386,29.218,0.0,0.000,59.227
stay_work,675.860,1057.987,3354.876,501.910,1052.581,2112.105,591.578,215.566,1023.885,194.504,596.806,112.572,300.742,0.0,36.100,33.929
day_tour,1768.992,3532.701,20199.313,2861.704,7022.473,7684.404,2476.210,1277.557,4046.571,52.119,0.000,0.000,0.000,0.0,0.000,0.000
day_home,521.326,805.366,3466.263,883.975,1048.320,1926.563,732.434,143.762,1239.630,5.538,0.000,0.000,0.000,0.0,0.000,0.000
day_work,344.279,386.079,3741.283,705.344,1581.033,1030.472,707.889,82.597,767.420,61.503,0.000,0.000,0.000,0.0,0.000,0.000

In [6]:
df_201804

,Hokakido,Touhoku,Kanto,Hokuriku,Tyuubu,Kinki,Tyuugoku,Shikoku,Kyusyu,Okinawa,Asia,Europ,N_America,S_America,Africa,Oceania
stay_tour,2246.328,2931.360,10423.650,3918.415,4654.961,5446.973,2001.926,957.212,2991.677,1141.215,1325.786,341.838,330.875,0.000,0.000,200.100
stay_home,1051.355,2302.518,4188.075,1858.997,1834.481,2666.022,1588.585,630.516,2250.950,218.816,144.867,30.104,47.304,8.985,0.000,27.615
stay_work,694.861,977.767,3339.264,780.315,1626.169,1531.034,939.704,392.356,1856.952,245.545,587.715,215.582,176.377,0.000,27.374,0.000
day_tour,1785.517,4043.383,20180.989,3098.818,6973.642,8577.492,2637.584,1298.647,4251.391,81.283,0.000,0.000,0.000,0.000,0.000,0.000
day_home,419.715,646.979,2799.865,643.034,1291.175,1878.099,643.546,228.395,964.903,9.713,0.000,0.000,0.000,0.000,0.000,0.000
day_work,242.217,792.688,3977.835,261.923,2357.588,1498.427,631.135,140.274,927.494,12.356,0.000,0.000,0.000,0.000,0.000,0.000

In [7]:
df_201801

,Hokakido,Touhoku,Kanto,Hokuriku,Tyuubu,Kinki,Tyuugoku,Shikoku,Kyusyu,Okinawa,Asia,Europ,N_America,S_America,Africa,Oceania
stay_tour,1678.891,2307.806,8511.584,4208.793,4840.223,6893.330,1221.969,942.424,2498.285,1200.180,1794.850,677.388,665.767,16.195,0.000,271.211
stay_home,1013.897,2013.283,4950.046,1287.752,2547.617,3060.720,1225.578,1240.402,2908.020,225.249,326.408,0.000,14.192,27.763,0.000,0.000
stay_work,583.632,1300.362,3190.519,1013.719,1128.469,1184.341,530.499,372.310,1281.196,541.328,576.969,82.488,96.077,55.750,11.309,35.943
day_tour,935.011,1519.393,13027.129,2293.456,6284.223,7058.552,1844.724,779.118,3271.751,159.678,0.000,0.000,0.000,0.000,0.000,0.000
day_home,795.337,849.566,3590.090,578.557,1273.683,1257.589,544.633,261.647,1017.407,28.235,0.000,0.000,0.000,0.000,0.000,0.000
day_work,288.998,565.788,4499.068,289.639,1007.634,2150.943,294.110,56.878,1645.953,21.171,0.000,0.000,0.000,0.000,0.000,0.000

In [8]:
df_201710

,Hokakido,Touhoku,Kanto,Hokuriku,Tyuubu,Kinki,Tyuugoku,Shikoku,Kyusyu,Okinawa,Asia,Europ,N_America,S_America,Africa,Oceania
stay_tour,1737.721011,3043.499685,10697.296494,4273.182148,5755.830116,6672.438355,2280.453698,1041.401360,3716.095664,1274.783622,1342.499158,252.743681,668.267156,0.000000,10.227739,149.536219
stay_home,927.761814,2117.715278,4264.654992,1282.015880,2209.126004,2501.629173,1470.903571,783.698030,2602.973023,218.552779,317.169702,0.000000,118.927178,0.000000,0.000000,22.444501
stay_work,593.843450,843.208004,5043.218581,447.366516,1699.685148,1886.816289,1013.059323,1165.977649,2714.423528,217.642672,697.823265,368.807023,207.017894,28.723752,10.919591,44.635789
day_tour,1243.077244,2683.346907,16264.217815,3304.452841,6301.603797,8089.388914,2241.074735,1048.740441,4090.347226,164.164248,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
day_home,718.738855,1275.640003,3650.657067,981.325378,1756.333664,1476.630386,1033.856475,176.768113,974.601011,8.985964,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
day_work,390.370434,1107.492062,5573.149393,548.348389,2690.372265,2765.073465,1377.506195,236.926044,1560.843464,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [9]:
df_201707

,Hokakido,Touhoku,Kanto,Hokuriku,Tyuubu,Kinki,Tyuugoku,Shikoku,Kyusyu,Okinawa,Asia,Europ,N_America,S_America,Africa,Oceania
stay_tour,3685.041760,4710.902768,14858.716063,7389.670550,8406.207944,7581.144227,2492.329079,1032.372864,4673.911653,1657.116023,1493.756672,560.659508,815.983456,0.0,0.0,363.744329
stay_home,1905.345734,4076.445604,4816.154498,2099.624297,2865.809780,3360.230386,2367.127440,1614.308005,4257.090266,152.902953,281.442604,46.440686,286.024692,0.0,0.0,7.178129
stay_work,796.500374,1351.858394,4288.399070,980.201679,1623.487913,2116.160642,703.750890,720.406876,853.391329,211.119612,501.630611,292.980450,203.511659,0.0,0.0,29.971273
day_tour,2404.659514,4549.906155,19582.023377,4438.174199,8577.537498,10233.028928,3116.936257,1229.396446,4660.449793,255.756853,0.000000,0.000000,0.000000,0.0,0.0,0.000000
day_home,882.182164,1447.362068,4421.350402,948.579303,2319.406551,2272.152426,916.314457,616.961252,1543.870960,23.305581,0.000000,0.000000,0.000000,0.0,0.0,0.000000
day_work,502.564902,671.605880,5166.706278,337.322076,2368.535537,3054.331743,1260.838445,1051.080920,1322.495348,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000

In [10]:
df_201704

,Hokakido,Touhoku,Kanto,Hokuriku,Tyuubu,Kinki,Tyuugoku,Shikoku,Kyusyu,Okinawa,Asia,Europ,N_America,S_America,Africa,Oceania
stay_tour,2365.287343,3437.984355,11967.688107,4859.599628,6148.257370,6169.084854,1897.291657,1165.494750,4160.863353,1240.372885,1367.959262,403.860887,480.688322,0.0,17.743393,199.032419
stay_home,1149.099430,2644.438288,5464.416775,1218.412916,2410.732410,2728.156633,1765.341711,1027.244621,2755.726262,269.596865,206.343880,34.765708,144.687177,0.0,0.000000,32.185573
stay_work,693.436973,1052.256936,4688.660152,742.517770,2001.321974,2176.234384,746.840389,292.359892,1331.978172,493.761880,589.565495,202.217901,166.244135,0.0,0.000000,0.000000
day_tour,2469.587284,4173.156184,21449.177575,3465.769833,7771.370333,10661.379585,3445.630431,1333.650366,4980.083658,138.800304,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
day_home,632.470586,798.403118,3866.720537,619.222943,2108.645209,1836.625156,985.683577,427.312171,1145.142127,83.197692,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
day_work,723.202121,1725.516807,5550.342525,562.961551,1718.424919,2977.497198,1152.066061,705.090595,1927.821462,8.944164,0.000000,0.000000,0.000000,0.0,0.000000,0.000000

In [11]:
df_201701

,Hokakido,Touhoku,Kanto,Hokuriku,Tyuubu,Kinki,Tyuugoku,Shikoku,Kyusyu,Okinawa,Asia,Europ,N_America,S_America,Africa,Oceania
stay_tour,1567.529947,2727.927092,9560.706409,3454.572725,6582.962973,5053.372477,1860.677127,1147.793911,3347.711590,1342.278911,1793.057486,485.406578,600.813532,0.000000,25.363893,318.323123
stay_home,1332.368044,1716.774479,5984.463754,1808.420026,2680.091504,2836.834038,1510.433979,1101.879080,2974.190848,435.537111,200.197887,38.338868,76.232762,60.340419,0.000000,34.202665
stay_work,451.967787,908.804144,3245.974067,1300.855666,1380.385025,1559.961444,554.948534,79.666197,897.705792,117.719488,633.277442,100.728967,200.367713,0.000000,0.000000,0.000000
day_tour,1757.850562,1799.043606,14948.966063,2380.390699,6875.246108,7483.312489,1836.524099,972.478748,3582.124658,48.143223,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
day_home,387.785289,865.136872,4082.849722,456.572764,1767.402490,2038.172803,753.773348,453.266537,1265.478360,12.882106,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
day_work,549.633767,840.812577,5730.959041,1014.186662,1814.349120,1868.094766,781.576838,732.774027,176.283844,284.724944,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [12]:
def to_Series(df,col):
    se = df.stack().reset_index(name=col)
    ind = se["level_0"] + "_" + se["level_1"]
    se.drop(["level_0","level_1"],axis=1,inplace=True)
    se.index = ind
    
    return se

In [13]:
df_201810 = to_Series(df_201810,"201810")
df_201807= to_Series(df_201807,"201807")
df_201804 = to_Series(df_201804,"201804")
df_201801 = to_Series(df_201801,"201801")
df_201710 = to_Series(df_201710,"201710")
df_201707 = to_Series(df_201707,"201707")
df_201704 = to_Series(df_201704,"201704")
df_201701 = to_Series(df_201701,"201701")

In [14]:
df_201810

                       201810
stay_tour_Hokakido   1714.172
stay_tour_Touhoku    2837.495
stay_tour_Kanto      9893.941
stay_tour_Hokuriku   4516.078
stay_tour_Tyuubu     4696.647
stay_tour_Kinki      5532.736
stay_tour_Tyuugoku   1927.364
stay_tour_Shikoku     806.145
stay_tour_Kyusyu     2937.590
stay_tour_Okinawa    1340.795
stay_tour_Asia       1696.653
stay_tour_Europ       573.782
stay_tour_N_America   472.301
stay_tour_S_America     0.000
stay_tour_Africa       14.443
stay_tour_Oceania     188.650
stay_home_Hokakido    768.723
stay_home_Touhoku    1742.053
stay_home_Kanto      3413.347
stay_home_Hokuriku   1232.461
stay_home_Tyuubu     1699.309
stay_home_Kinki      1871.759
stay_home_Tyuugoku    852.866
stay_home_Shikoku     755.348
stay_home_Kyusyu     1700.627
stay_home_Okinawa     220.233
stay_home_Asia        106.265
stay_home_Europ         0.000
stay_home_N_America    87.426
stay_home_S_America     0.000
...                       ...
day_home_Kanto       2665.669
day_home_Hokuriku     551.827
day_home_Tyuubu      1050.397
day_home_Kinki       1709.329
day_home_Tyuugoku     686.385
day_home_Shikoku      166.031
day_home_Kyusyu       761.976
day_home_Okinawa        7.904
day_home_Asia           0.000
day_home_Europ          0.000
day_home_N_America      0.000
day_home_S_America      0.000
day_home_Africa         0.000
day_home_Oceania        0.000
day_work_Hokakido     358.509
day_work_Touhoku      725.239
day_work_Kanto       3611.690
day_work_Hokuriku     636.989
day_work_Tyuubu      1233.133
day_work_Kinki       1627.656
day_work_Tyuugoku     947.348
day_work_Shikoku      199.301
day_work_Kyusyu       618.987
day_work_Okinawa        8.561
day_work_Asia           0.000
day_work_Europ          0.000
day_work_N_America      0.000
day_work_S_America      0.000
day_work_Africa         0.000
day_work_Oceania        0.000

[96 rows x 1 columns]

In [15]:
trip = pd.concat([df_201810,df_201807,df_201804,df_201801,df_201710,df_201707,df_201704,df_201701],axis=1).T

In [16]:
trip

,stay_tour_Hokakido,stay_tour_Touhoku,stay_tour_Kanto,stay_tour_Hokuriku,stay_tour_Tyuubu,stay_tour_Kinki,stay_tour_Tyuugoku,stay_tour_Shikoku,stay_tour_Kyusyu,stay_tour_Okinawa,...,day_work_Tyuugoku,day_work_Shikoku,day_work_Kyusyu,day_work_Okinawa,day_work_Asia,day_work_Europ,day_work_N_America,day_work_S_America,day_work_Africa,day_work_Oceania
201810,1714.172000,2837.495000,9893.941000,4516.078000,4696.647000,5532.736000,1927.364000,806.145000,2937.590000,1340.795000,...,947.348000,199.301000,618.987000,8.561000,0.0,0.0,0.0,0.0,0.0,0.0
201807,3025.337000,3798.449000,14639.905000,6222.936000,6972.292000,7386.638000,2200.846000,1138.843000,4462.213000,1618.033000,...,707.889000,82.597000,767.420000,61.503000,0.0,0.0,0.0,0.0,0.0,0.0
201804,2246.328000,2931.360000,10423.650000,3918.415000,4654.961000,5446.973000,2001.926000,957.212000,2991.677000,1141.215000,...,631.135000,140.274000,927.494000,12.356000,0.0,0.0,0.0,0.0,0.0,0.0
201801,1678.891000,2307.806000,8511.584000,4208.793000,4840.223000,6893.330000,1221.969000,942.424000,2498.285000,1200.180000,...,294.110000,56.878000,1645.953000,21.171000,0.0,0.0,0.0,0.0,0.0,0.0
201710,1737.721011,3043.499685,10697.296494,4273.182148,5755.830116,6672.438355,2280.453698,1041.401360,3716.095664,1274.783622,...,1377.506195,236.926044,1560.843464,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
201707,3685.041760,4710.902768,14858.716063,7389.670550,8406.207944,7581.144227,2492.329079,1032.372864,4673.911653,1657.116023,...,1260.838445,1051.080920,1322.495348,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
201704,2365.287343,3437.984355,11967.688107,4859.599628,6148.257370,6169.084854,1897.291657,1165.494750,4160.863353,1240.372885,...,1152.066061,705.090595,1927.821462,8.944164,0.0,0.0,0.0,0.0,0.0,0.0
201701,1567.529947,2727.927092,9560.706409,3454.572725,6582.962973,5053.372477,1860.677127,1147.793911,3347.711590,1342.278911,...,781.576838,732.774027,176.283844,284.724944,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
trip.columns[(trip.sum() == 0).tolist()]

Index(['stay_home_Africa', 'day_tour_Asia', 'day_tour_Europ',
       'day_tour_N_America', 'day_tour_S_America', 'day_tour_Africa',
       'day_tour_Oceania', 'day_home_Asia', 'day_home_Europ',
       'day_home_N_America', 'day_home_S_America', 'day_home_Africa',
       'day_home_Oceania', 'day_work_Asia', 'day_work_Europ',
       'day_work_N_America', 'day_work_S_America', 'day_work_Africa',
       'day_work_Oceania'],
      dtype='object')

In [18]:
trip.drop(trip.columns[(trip.sum() == 0).tolist()],axis=1,inplace=True)

In [19]:
trip.reset_index(inplace=True)
trip.rename(columns={"index":"term"})

,term,stay_tour_Hokakido,stay_tour_Touhoku,stay_tour_Kanto,stay_tour_Hokuriku,stay_tour_Tyuubu,stay_tour_Kinki,stay_tour_Tyuugoku,stay_tour_Shikoku,stay_tour_Kyusyu,...,day_work_Hokakido,day_work_Touhoku,day_work_Kanto,day_work_Hokuriku,day_work_Tyuubu,day_work_Kinki,day_work_Tyuugoku,day_work_Shikoku,day_work_Kyusyu,day_work_Okinawa
0,201810,1714.172000,2837.495000,9893.941000,4516.078000,4696.647000,5532.736000,1927.364000,806.145000,2937.590000,...,358.509000,725.239000,3611.690000,636.989000,1233.133000,1627.656000,947.348000,199.301000,618.987000,8.561000
1,201807,3025.337000,3798.449000,14639.905000,6222.936000,6972.292000,7386.638000,2200.846000,1138.843000,4462.213000,...,344.279000,386.079000,3741.283000,705.344000,1581.033000,1030.472000,707.889000,82.597000,767.420000,61.503000
2,201804,2246.328000,2931.360000,10423.650000,3918.415000,4654.961000,5446.973000,2001.926000,957.212000,2991.677000,...,242.217000,792.688000,3977.835000,261.923000,2357.588000,1498.427000,631.135000,140.274000,927.494000,12.356000
3,201801,1678.891000,2307.806000,8511.584000,4208.793000,4840.223000,6893.330000,1221.969000,942.424000,2498.285000,...,288.998000,565.788000,4499.068000,289.639000,1007.634000,2150.943000,294.110000,56.878000,1645.953000,21.171000
4,201710,1737.721011,3043.499685,10697.296494,4273.182148,5755.830116,6672.438355,2280.453698,1041.401360,3716.095664,...,390.370434,1107.492062,5573.149393,548.348389,2690.372265,2765.073465,1377.506195,236.926044,1560.843464,0.000000
5,201707,3685.041760,4710.902768,14858.716063,7389.670550,8406.207944,7581.144227,2492.329079,1032.372864,4673.911653,...,502.564902,671.605880,5166.706278,337.322076,2368.535537,3054.331743,1260.838445,1051.080920,1322.495348,0.000000
6,201704,2365.287343,3437.984355,11967.688107,4859.599628,6148.257370,6169.084854,1897.291657,1165.494750,4160.863353,...,723.202121,1725.516807,5550.342525,562.961551,1718.424919,2977.497198,1152.066061,705.090595,1927.821462,8.944164
7,201701,1567.529947,2727.927092,9560.706409,3454.572725,6582.962973,5053.372477,1860.677127,1147.793911,3347.711590,...,549.633767,840.812577,5730.959041,1014.186662,1814.349120,1868.094766,781.576838,732.774027,176.283844,284.724944